<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Анализ онлайн курсов</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static "mainapp/images/favicon.ico" %}" sizes="3232">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "mainapp/css/main.css" %}">

</head>
<body>
<!--ШАПКА-->
<div class="container-fluid">
    <div class="row logo">
        <img class="img-logo" src="{% static "mainapp/images/orel.png" %}">
        <p>Санкт-Петербургский государственный университет<br>Система анализа онлайн-курсов</p>
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-secondary btn-logout"><a class="link-logout" href="/logout">Выйти</a>
            </button>
        {% endif %}
    </div>
</div>
{% block content %}
{% endblock %}
<script src="{% static "mainapp/js/jquery.min.js" %}"></script>
<script src="{% static "mainapp/js/jquery.cookie.js" %}"></script>
<script src="{% static "mainapp/js/main.js" %}"></script>
</body>
</html>