/*Цветовая палитра №3761*/
/*Шапка*/
.logo {
    height: 8.5vh;
    background-color: black;
    color: white;
}

.img-logo {
    height: 6.5vh;
}

.page {
    min-height: 84vh;
    max-height: 91.5vh;
}

br {
    height: 5px;
}

/*Ошибки авторизации*/
.info-error {
    color: red;
}

/*Форма авторизации*/
.form-auth {
    background-color: #f5f5f5;
    border-radius: 10px;
}

/*Форма регистрации*/
.form-register {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.link-logout, .link-logout:hover, .link-logout:visited, .link-logout:active {
    text-decoration: none;
    color: black;
}

p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

label {
    font-size: 18px;
    line-height: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

/*Кнопка выбора курса*/
.btn-course {
    font-size: 18px;
    line-height: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    width: 100%;
    text-align: left;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.btn-course:hover {
    background: #f5f5f5;
}

/*Кнопка добавления курсов*/
.btn-add-course {
    width: 100%;
    border: 1px solid;
    border-radius: 3px;
    height: 45px;
    background-color: white;
}

.btn-add-course:hover {
    background: #f5f5f5;
}

/*Колонка выбора курсов*/
.row-courses-list {
    background-color: white;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid gray;
    color: black;
}

/*Колонка детальной информации курса*/
.row-course-detail {
    margin-top: -11px;
}

/*Иконка загрузки*/
.loader {
    border: 14px solid gray;
    border-radius: 100%;
    border-top: 14px solid black;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/*Маленькая иконка загрузки*/
.loader_little {
    margin-top: 20px;
    border: 5px solid gray;
    border-radius: 100%;
    border-top: 5px solid black;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*Кнопка добавления файла*/
input[name=log]::-webkit-file-upload-button {
    height: 45px;
    color: #343a40;
    background-color: #fff;
    border-color: #343a40;
    border-width: 1px;
    margin-top: 10px;
    margin-right: 115px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

/*Кнопка отправки файла*/
.btn-submit-course {
    margin-top: 10px;
    height: 45px;
    color: green
}

/*разделители*/
hr {
    margin: 2px;
}

/*Блок статистики*/
.course-statistic-panel {
    display: inline;
}

/*Блок добавления курса*/
.add-course-panel {
    margin-top: 20px;
}

.lesson-statistic {
    font-size: 22px;
}

.tests-statistic, .videos-statistic {
    text-indent: 2em;
    font-size: 21px;
}

[class^=test-attempts-statistic-] {
    text-indent: 4em;
    font-size: 20px;
}

[class^=attempt-statistic-] > summary {
    text-indent: 6em;
    font-size: 19px;
}

[class^=attempt-statistic-] {
    text-indent: 8em;
    font-size: 18px;
}

[class^=sel-] {
    height: 37px;
    margin-left: 10px;
}

.sel-module {
    margin-top: 10px;
}

.top {
    padding-bottom: 8px;
}

/* див вывода статистики по видео*/
.video {
}

.form-group > .alert {
    display: inherit;
    font-size: 14px;
}

.alert {
    display: none;
}

/*диаграмма*/
.chart {
    height: 300px;
    width: 400px;
    padding-bottom: 10px;
    border: solid gray 1px;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.form-add-log {
    margin-left: auto;
    padding-right: 20px;
}

.input-log-top {
    padding-left: 50px;
}
